html {
  background: url('../img/student.jpg') no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

.brand-logo{
  margin-left: 30px;
  font-family: 'Bungee', cursive;
}

#download{
  position: absolute;
  border: 0px solid black;
  width: 900px;
  height: 500px;
  left: 50%;
  top: 50%;
  margin-left: -450px;
  margin-top: -250px;
  background: rgba(17, 27, 37, .5);
  text-align: center;
}


#download .app{
  width: 430px;
  border: 0px solid white;
  position: absolute;
  bottom: 20px;
  margin-left: 220px;

}

#download img.logo{
  width: 130px;
  padding-top: 50px;
}

#download h1{
  margin: 0;
  padding: 0;
  font-size: 26px;
  color: #FFAD3B;
}
#download h2{
  padding-top: 30px;
  margin: 0;
  color: #A8968F;
  font-family: 'Bungee', cursive;
  font-size: 30px;
}

#download p{
  text-align: center;
  color: #fff;
  font-size: 20px;
}
